
  <section id="Experiencias" class="resume" *ngIf="load">
    <div class="container">

      <div class="section-title">
        <h2>Experiencias</h2>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-up">
          <h3 class="resume-title">Resumen</h3>
          
          <div *ngIf="experiencia[0]"  class="resume-item pb-0">
            <button *ngIf="isAdmin" class="btn btn-outline-warning" routerLink="" (click)="openExp(expEdit)" (click)="identif(experiencia[0].id)"><i class="far fa-edit"></i> </button> 
            <button *ngIf="isAdmin" class="btn btn-outline-danger" routerLink="" (click)="onDeleteExp(exp.id)" (click)="identif(experiencia[0].id)"><i class="fa-solid fa-trash-can"></i> </button> 
                    <h4>{{experiencia[0].puesto}}</h4>
                    <h5> <a target="_blank" href={{experiencia[0].url}}> {{experiencia[0].lugar}} </a> </h5>
                    <p><em>{{experiencia[0].fecha}}.</em></p>
                    <p>{{experiencia[0].descripcion}}</p>
        </div>

        <div *ngIf="experiencia[1]"  class="resume-item pb-0">
              <button *ngIf="isAdmin" class="btn btn-outline-warning" routerLink="" (click)="openExp(expEdit)" (click)="identif(experiencia[1].id)"><i class="far fa-edit"></i> </button> 
              <button *ngIf="isAdmin" class="btn btn-outline-danger" routerLink="" (click)="onDeleteExp(exp.id)" (click)="identif(experiencia[1].id)"><i class="fa-solid fa-trash-can"></i> </button> 
                      <h4>{{experiencia[1].puesto}}</h4>
                      <h5> <a target="_blank" href={{experiencia[1].url}}> {{experiencia[1].lugar}} </a> </h5>
                      <p><em>{{experiencia[1].fecha}}.</em></p>
                      <p>{{experiencia[1].descripcion}}</p>
          </div>

        </div>

        <div *ngIf="experiencia[2]"  class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          
            <div class="resume-item pb-0">
              <button *ngIf="isAdmin" class="btn btn-outline-warning" routerLink="" (click)="openExp(expEdit)" (click)="identif(experiencia[2].id)"><i class="far fa-edit"></i> </button> 
              <button *ngIf="isAdmin" class="btn btn-outline-danger" routerLink="" (click)="onDeleteExp(exp.id)" (click)="identif(experiencia[2].id)"><i class="fa-solid fa-trash-can"></i> </button> 
                      <h4>{{experiencia[2].puesto}}</h4>
                      <h5> <a target="_blank" href={{experiencia[2].url}}> {{experiencia[2].lugar}} </a> </h5>
                      <p><em>{{experiencia[2].fecha}}.</em></p>
                      <p>{{experiencia[2].descripcion}}</p>
          </div>
  
            <div *ngIf="experiencia[3]" class="resume-item pb-0">
                <button *ngIf="isAdmin" class="btn btn-outline-warning" routerLink="" (click)="openExp(expEdit)" (click)="identif(experiencia[3].id)"><i class="far fa-edit"></i> </button> 
                <button *ngIf="isAdmin" class="btn btn-outline-danger" routerLink="" (click)="onDeleteExp(exp.id)" (click)="identif(experiencia[3].id)"><i class="fa-solid fa-trash-can"></i> </button> 
                        <h4>{{experiencia[3].puesto}}</h4>
                        <h5> <a target="_blank" href={{experiencia[3].url}}> {{experiencia[3].lugar}} </a> </h5>
                        <p><em>{{experiencia[3].fecha}}.</em></p>
                        <p>{{experiencia[3].descripcion}}</p>
            </div>
          </div>
      </div> <!-- row -->

    </div>
  </section>

  <!-- Formulario de Edicion -->

  <ng-template #expEdit>
    <div class="offcanvas-header">
      <h4 class="offcanvas-title">Experiencias</h4> <button type="button" class="btn-close" aria-label="Close"
        (click)="offcanvasService.dismiss()"></button>
    </div>
  
    <div class="offcanvas-body">
  
      <form (ngSubmit)="onUpdateExp()" class="about-form" #formAbout="ngForm"  novalidate>

        <div class="input-group mb-3 form-group">
          <span class="input-group-text" id="inputGroup-sizing-default">Puesto</span>
          <input type="text" class="form-control miInputBox" [(ngModel)]="experiencia[idselecc].puesto" name="Puesto"> <span class="focus-miInputBox"></span>
        </div>

        <div class="input-group mb-3 form-group">
          <span class="input-group-text" id="inputGroup-sizing-default">Lugar</span>
          <input type="text" class="form-control miInputBox" [(ngModel)]="experiencia[idselecc].lugar" name="Lugar"> <span class="focus-miInputBox"></span>
        </div>

        <div class="input-group mb-3 form-group">
          <span class="input-group-text" id="inputGroup-sizing-default">URL</span>
          <input type="text" class="form-control miInputBox" [(ngModel)]="experiencia[idselecc].url" name="URL"> <span class="focus-miInputBox"></span>
        </div>

        <div class="input-group mb-3 form-group">
          <span class="input-group-text" id="inputGroup-sizing-default">Fecha</span>
          <input type="text" class="form-control miInputBox" [(ngModel)]="experiencia[idselecc].fecha" name="Fecha"> <span class="focus-miInputBox"></span>
        </div>

         <div class="form-floating form-group">
          <textarea class="form-control miInputBox" placeholder="Descripción" id="floatingTextarea2" style="height: 200px"
            [(ngModel)]="experiencia[idselecc].descripcion" name="Descripción"> </textarea>     <span class="focus-miInputBox"></span>
          <label for="floatingTextarea2">Descripción</label>
        </div> 


        <div class="col-5 float-end form-group">
          <button type="submit" class="btn miBoton"  aTilt [tiltSettings]="tiltSettings" > Actualizar </button>
        </div>

      </form>

    </div>
    
    </ng-template>
    