  
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    
    <div class="hero-container" data-aos="fade-in">
      <h1>{{persona.nombre}}  {{persona.apellido}}</h1>
    </div>
    <div class="hero-container" data-aos="fade-left">
      <ngx-typed-js [strings]="['<i>Developer</i>', '<i>Designer</i>', '<i>Hard and Soft Tecnic</i>']" [loop]="true" [typeSpeed]="100" [backSpeed]="50" [backDelay]="2000">
        <p>Im <span class="typing">  </span> </p>
      </ngx-typed-js>
    </div>

  </section>