
.modal-content{
  margin-left: 35%;
}
.canvasCursos{
    background: rgb(250, 193, 193);
    margin: 35px;
  }
 
  .cursos {
    padding: 5px;
    background: rgb(182, 15, 15);
 
  }

  .offcanvas-title{
    
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    margin: 35px;
    
  }
.educacion .icon-box {
    margin-bottom: 20px;
  }
  .educacion .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    background: #149ddd;
    border-radius: 50%;
    transition: 0.5s;
    border: 1px solid #149ddd;
  }
  .educacion .icon i {
    color: #fff;
    font-size: 24px;
    line-height: 0;
  }
  .educacion .icon-box:hover .icon {
    background: #fff;
  }
  .educacion .icon-box:hover .icon i {
    color: #149ddd;
  }
  .educacion .title {
    margin-left: 80px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  .educacion .title a {
    color: #343a40;
  }
  .educacion .title a:hover {
    color: #149ddd;
  }
  .educacion .description {
    margin-left: 80px;
    line-height: 24px;
    font-size: 14px;
  }
  
  .capacitacionesLink {
    color: #149ddd;
    text-decoration: none;
    font-size: 15px;
    margin-left: 4%;
}


 
