

<section id="about" class="about">
    <div class="container">
      <button *ngIf="isAdmin" class="btn btn-outline-warning" routerLink="" 
      (click)="openAbout(aboutEdit)" ><i class="far fa-edit"></i> Editar</button> 
   
         <div class="section-title">
        <h2>Acerca de mí</h2>
        <p> {{persona.comentario}}  </p>  
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="assets/img/profile-img.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>{{persona.titulo}}.</h3>
<!--           <p class="fst-italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
          </p> -->
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>{{persona.web}}</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Tel:</strong> <span>{{persona.telefono}}</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Ciudad:</strong> <span>{{persona.ciudad}}</span></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Edad:</strong> <span>{{persona.edad}}</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Título:</strong> <span>{{persona.titulo}}</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>e-mail:</strong> <span>{{persona.email}}</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row no-gutters facts" id="facts" >

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
          <div class="count-box">
            <i class="bx bx-smile"></i>
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
            <p><strong>Happy Clients</strong> consequuntur quae</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="count-box">
            <i class="bx bx-bowl-hot"></i>
            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
            <p><strong>Projects</strong> adipisci atque cum quia aut</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="count-box">
            <i class="bx bxs-dog"></i>
            <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
            <p><strong>Hours Of Support</strong> aut commodi quaerat</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="count-box">
            <i class="bx bx-line-chart"></i>
            <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
            <p><strong>Hard Workers</strong> rerum asperiores dolor</p>
          </div>
        </div>

      </div>

    </div>
  </section>
  


  
<ng-template #aboutEdit>

  <div class="offcanvas-header">
    <h4 class="offcanvas-title">Acerca de</h4> <button type="button" class="btn-close" aria-label="Close"
      (click)="offcanvasService.dismiss()"></button>
  </div>

  <div class="offcanvas-body">

    <form (ngSubmit)="onUpdateAcerca()" class="about-form" #formAbout="ngForm"  novalidate>
       <div class="form-floating form-group">
        <textarea class="form-control miInputBox" placeholder="Comentario" id="floatingTextarea2" style="height: 100px"
          [(ngModel)]="persona.comentario" name="comentario"> </textarea>     <span class="focus-miInputBox"></span>
        <label for="floatingTextarea2">Comentario</label>
      </div> 

      <div class="input-group mb-3 form-group">
        <span class="input-group-text" id="inputGroup-sizing-default">Edad</span>
        <input type="number" min="18" max="100" class="form-control miInputBox" [(ngModel)]="persona.edad" name="edad"> <span class="focus-miInputBox"></span>
      </div>

      <div class="input-group mb-3 form-group">
        <span class="input-group-text" id="inputGroup-sizing-default">Teléfono</span>
        <input type="text" class="form-control miInputBox" [(ngModel)]="persona.telefono" name="telefono"> <span class="focus-miInputBox"></span>
      </div>

      <div class="input-group mb-3 form-group">
        <span class="input-group-text" id="inputGroup-sizing-default">Ciudad</span>
        <input type="text" class="form-control miInputBox" [(ngModel)]="persona.ciudad" name="ciudad"> <span class="focus-miInputBox"></span>
      </div>

      <div class="input-group mb-3 form-group">
        <span class="input-group-text" id="inputGroup-sizing-default" placeholder="www.miweb.com.ar">Web</span>
        <input type="text" class="form-control miInputBox" [(ngModel)]="persona.web" name="web"> <span class="focus-miInputBox"></span>
      </div>

      <div class="input-group mb-3 form-group">
        <span class="input-group-text" id="inputGroup-sizing-default" placeholder="email@email.com">Email</span>
        <input type="email" class="form-control  miInputBox" id="exampleInputEmail1" [(ngModel)]="persona.email" name="email"> <span class="focus-miInputBox"></span>
      </div>

      <div class="input-group mb-3 form-group">
        <span class="input-group-text" id="inputGroup-sizing-default">Título</span>
        <input type="text" class="form-control miInputBox" [(ngModel)]="persona.titulo" name="titulo"> <span class="focus-miInputBox"></span>
      </div>

      <div class="col-5 float-end form-group">
        <button type="submit" class="btn miBoton"  aTilt [tiltSettings]="tiltSettings" > Actualizar </button>
      </div>
  </form>

</div>

</ng-template>


