  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="./assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"> <a href="#home"> {{persona.nombre}}  {{persona.apellido}} </a> </h1> 
          <div class="social-links mt-3 text-center">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          </div>       
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#home" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#acerca" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#experiencias" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Experiencias</span></a></li>
          <li><a href="#educacion" class="nav-link scrollto"><i class="bx bxs-graduation"></i> <span>Educación</span></a></li>
          <li><a href="#skills" class="nav-link scrollto"><i class="bx bx-book-reader"></i> <span>Hard & Soft Skills</span></a></li>
          <li><a href="#proyectos" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Proyectos</span></a></li>
        </ul>
      </nav>
    </div>
  </header>

    <footer id="footer">
        <div class="container">
              <img src="./assets/img/APLogo.png" class="logoAP"> 
            <div class="credits">
              Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
              <br>
              <a *ngIf="isLogged" (click)="onLogOut()"  style="cursor: pointer;">
                  <i class="fa-solid fa-right-from-bracket"></i> Cerrar Sesión </a>

              <a *ngIf="!isLogged" style="cursor: pointer;" (click)="openLogin(login)">
                  <i class="fa-solid fa-right-from-bracket"></i>  Iniciar Sesión </a> 
                  
            </div>

    <ng-template #login>
      <div >
        <app-login></app-login>
      </div>
    </ng-template>

  </div>
</footer> 
